doctype html
html
  head
    meta(charset="UTF-8")
    title test

  body
    ul
      li(data_li = 'test_a') test_a
      li(data_li = 'test_b') test_b
      li(data_li = 'test_c') test_cfs
      li(data_li = 'test_d') test_d
      li(data_li = 'user_setting') user_setting
